header{
    position: absolute;  
    width: 100%;
    height: 100px; 
    border-bottom: 2px solid black;
    font-weight: bold;
    padding: 0.25em;
    font-size: 36px;
    
    
}

body{
    margin: 0;
    
}

header a{
    font-size: 20px; 
    position: relative;
    left: 65%;


}

.sidebar{
    position: absolute; 
    display: inline-block;
    width: 30%;
    height: 731px;
    border-right: 1px solid black;
    top: 120px;
    bottom:0px; 
    left: 0px;

}

footer{
    border-top: 1px solid black; 
    position: absolute;
    top: 850px;
    width: 100%;
    padding: 1em; 


}

.main{
    left:35%; 
    position: absolute;
    padding: 5px; 
    height: auto;
    width: 50%;
    display: inline-block; 
    top: 35%;
}

form input{
    display: block;
    width: 270px;
    border: 1px solid black;
    margin: 0px 0px 15px 0px; 
    
     
}



form{
    margin: 0px 0px 0px 15px; 
       }